<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="introduceMusician"
          class="com.example.hello_spring.IntroduceMusician"/>

    <bean id="musician"
		     	class="com.example.hello_spring.JazzMusician"
    			scope="singleton"
	    		init-method="init"
		    	destroy-method="destroy">

          <constructor-arg ref="introduceMusician"/>

    </bean>

</beans>
