<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

       <import resource="applicationContext-aes.xml" />
       <import resource="applicationContext-chacha.xml" />

       <bean id="fileEncryptor"
              factory-bean="fileEncryptorFactory"
              factory-method="createFileEncryptor"
              init-method="init" />

       <bean id="fileDecryptor"
              factory-bean="fileDecryptorFactory"
              factory-method="createFileDecryptor"
              init-method="init" />
</beans>